<div class="row">
  <div class="col-md-3 center-block no-float">
	<h2>Olvido su contraseña?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post },html: {role: "form"}) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, class: "form-control", autofocus: true %>
	  </div>
	<br>
	<div class="text-center">
	  <div class="actions">
	    <%= f.submit "Enviar isntrunciones", class: "btn btn-info" %>
	  </div>
	<% end %>
	</div>
	<div class="text-center">
		<%= render "devise/shared/links" %>
	</div>
  </div>
</div>